[2017-12-09 07:15] vikram-rawat opened #3 "Cannot install the package on non-Debian/Ubuntu like Linux"
[code]

I am getting this error when I try to run devtools::install_github("swarm-lab/Rvision")

Please help me out.

[2017-12-11 14:52] sjmgarnier commented on #3
@vikram-rawat Do you have RTools installed on your computer?

[2017-12-30 06:12] sjmgarnier opened #4 "Knitr missing for completing check on Appveyor"
Any idea @muschellij2?

[code]

[2018-01-03 01:46] muschellij2 commented on #4
Where did this error?  Travis?

If locally, it doesn't look like you have knitr installed.  Just run

install.packages("knitr") and run R CMD check again.

John

On Sat, Dec 30, 2017 at 1:12 AM, Simon Garnier <notifications@github.com>
wrote:

[2018-01-03 01:59] sjmgarnier commented on #4
@muschellij2 It was thrown by Appveyor.

[2018-01-14 15:43] shujun1992 commented on #3
I can library ROpenCVLite,but when I try to run devtools::install_github("swarm-lab/Rvision").

Error: Malformed remote specification 'swarm-lab/ROpenCVLite'

[2018-01-25 20:30] kk-1 commented on #3
I had lib64 instead of lib but:
cannot open file '/home/kemal/R/x86_64-suse-linux-gnu-library/3.4/ROpenCVLite/opencv/lib/pkgconfig/opencv.pc': No such file or directory

Any idea?

[2018-01-25 20:38] sjmgarnier commented on #3
@kk-1 Did you try removing and reinstalling ROpenCVLite first?

[2018-01-25 20:50] kk-1 commented on #3
Thanks for your patience!

After many trials, I figured out that for openSUSE Tumbleweed with cuda 9.1,  gcc version 4.9.4 is required (works actually). So I just installed ROpenCVLite, which took some time (about 30 - 40 min).
But well although I am not willing, I will try to uninstall and reinstall ROpenCVLite again.
Is it possible to bypass (download it once) downloading the package (ROpenCVLit

[2018-01-25 20:56] sjmgarnier commented on #3
@kk-1 I do not have access to a machine running openSUSE, so I can't really reproduce the problem. Can you tell me what's under "/home/kemal/R/x86_64-suse-linux-gnu-library/3.4/ROpenCVLite/opencv/"? I wonder if Cmake on openSUSE has different defaults for naming directories than Ubuntu (which is my linux testing system).

I do not recommend moving anything around though.

[2018-01-25 20:57] kk-1 commented on #3
dir listing of:
/home/kemal/R/x86_64-suse-linux-gnu-library/3.4/ROpenCVLite/opencv/

-rw-r--r-- 1 kemal users 117191 Jan 25 21:52 cap_dshow.cpp
-rw-r--r-- 1 kemal users   1063 Jan 25 21:52 DESCRIPTION
drwxr-xr-x 2 kemal users   4096 Jan 25 21:52 help
drwxr-xr-x 2 kemal users   4096 Jan 25 21:52 html
-rw-r--r-- 1 kemal users    189 Jan 25 21:52 INDEX
drwxr-xr-x 2 kemal users   4096 Jan 25 21:52 lib

[2018-01-25 21:02] sjmgarnier commented on #3
Ok, so the problem is that for some reason Cmake names the library folder lib64 on openSuse and lib on Ubuntu and Mac. It should be fixable, but I won't have much time today or tomorrow.

[2018-01-25 21:12] kk-1 commented on #3
Please also note that when I change the name of the lib64 to lib installation goes for a while till:
g++-4.9: error: Libs:: No such file or directory

"Libs" ? some kind of case sensitivity?

[2018-01-26 11:01] coforfe opened #5 "[MacOSX]: Installation problem..."
Thanks for your excellent package.
R had this pending issue of having an integration with OpenCV.

I have just tried to install it in my Mac machine and I could not get that.

- It installs the ROpenCVLite without any problem.
- But it fails with the installation of RVision with this message:

[code]

My R version is this:

[code]
Please let me know if you need further details about compiler versi

[2018-01-26 13:05] sjmgarnier commented on #5
@coforfe This is weird indeed. Can you send me the full installation log? Also your compiler version would be useful indeed. And just for good measure, when did you install ROpenCVLite? Thanks.

[2018-01-26 13:37] coforfe commented on #5
Hi Simon,

Yes, `ROpenCVLite` was installed when I tried to install your `RVision`, not before.
`ROpenCVLite` downloaded and compiled and installed without any problem, the problem appears with just `RVision`.

I have just tried to install again and this is the complete error log:

[code]
Well for other packages I had to create a .R/Makevar file and currently this is the configuration I have, whic

[2018-01-26 13:53] sjmgarnier commented on #5
@coforfe Would you mind trying without your custom .R/Makevars? Rvision's Makevars uses `CXX = clang++` and should take precedence over your `CXX=g++-7` (also Rvision should set it's own `CPPFLAGS`), but I wonder if one of the other variables that you set is causing the problem here. We can try to override it in Rvision's Makevars, but I would need to know which one is the source of the problem.

[2018-01-26 13:57] sjmgarnier commented on #5
@coforfe Actually, looking more closely at the installation log, it seems that g++-7 is used for compilation. I thought the Makevars file of the package was supposed to override the users Makevars file, but maybe I was wrong.

[2018-01-26 13:58] coforfe commented on #5
Thanks Simon!
Good!.

That was the issue.
I disabled the Makevars and now the it was installed smoothly...

[code]

Thanks a lot!.
And congratulations again for this package.

Carlos.

[2018-01-26 14:25] sjmgarnier commented on #5
@coforfe Glad to hear it. I will close this issue then. I wonder if there is a way to set your .R/Makevars so that it uses g++-7 only for the packages that need it on your system.

[2018-01-26 14:25] #5 closed

[2018-01-29 16:27] Cumol opened #6 "importing large TIFF videos"
Hello,

I stumbled upon your package because I was looking for a way to load large (4gb) tiff-videos that were generated from single images. The idea is to get them into a format that can be used to work with SCALPEL (an R-package for calcium imaging in neurons).

The vignette of SCALPEL described how the data should be formatted:

Now I was wondering if it is possible to use Rvision for it.

When

[2018-01-29 21:17] sjmgarnier commented on #6
@Cumol Rvision `Video` objects are essentially C++ pointers towards OpenCV `VideoCapture` objects (plus some candy around to interface more easily with R). This is why they look like "empty" objects. Videos are actually not loaded in memory like a classical R object.

To access a frame, you need to use the `readNext` (for the next frame) and `readFrame` (for an arbitrary frame) functions that will

[2018-01-30 08:35] Cumol commented on #6
@sjmgarnier I went on to check if I can use `readNext` to show one frame of the video (I guess the first?). According to the documentation all I need to give the function is the name of the object.

`library(Rvision)

test <- video("./registered.tif")

readNext(test)`

I get the following error:

For `str(test)` I get the following:

 list()
 and 30 methods, of which 16 are  possibly relevant:

[2018-01-30 15:08] sjmgarnier commented on #6
@Cumol I can't find anything about tiff videos online. Are you talking about multi page or multi frame tiff? Do you have a sample video that I could play with?

[2018-01-30 15:13] Cumol commented on #6
It is a video generated with ImageJ from a few thousand TIFF files.

I cropped one of my videos (originally 12k frames) into 100, you can find it here:
https://nextcloud.cumol.org/index.php/s/38K4xBFrRu7Hw2M

[2018-01-31 04:17] sjmgarnier commented on #6
@Cumol FYI, I've managed to create a function that reads a multi-image tiff and then returns a list of Rvision Image objects. You can then use sapply+as.matrix to convert them into the matrix you need. I have to write the documentation of the new function before pushing it to Github, but once it's done (probably tomorrow), the code to do what you want (I think) will look like this:
[code]
For your

[2018-01-31 07:31] Cumol commented on #6
Wow, thank you! can't wait to try it out. Let me know once it is out!

[2018-01-31 15:50] #6 closed

[2018-01-31 15:51] sjmgarnier commented on #6
@Cumol It should work now.

[2018-02-01 08:55] Cumol commented on #6
I tried it out. Something weird happens with memory allocation during the process. I am on a 35Gb and 36core machine.

I tried it out with 1000 frames, resulting in 1.3Gb memory usage.

6300 frames (half the file) results in 8Gb memory usage.

When running the full 12600 frames the image reading seems to work but what comes after is problematic:

[code]
During the second step, memory usage shoots

[2018-02-01 15:18] sjmgarnier commented on #6
@Cumol I'm not sure how sapply handles memory allocation in the background. It could be making copies of the very large matrix you're trying to create, which would use up all your memory very quickly. One workaround would be to preallocate the final matrix and then fill it up column by column with a good old-fashioned loop:
[code]
For some reason, this is even 10-15% faster on my computer than the

[2018-02-01 23:06] sjmgarnier commented on #6
@Cumol Any luck with the loop version?

[2018-02-02 07:06] Cumol commented on #6
@sjmgarnier just tried it out and it works!!!! 👍

It does the same behavior as sapply, taking up all memory, but does not present the error with a too large vector. After the operation is finished it goes to 16.2 Gb for the img_matrix and 27.4Mb for the img_list.

Thank you for the help!

I just noticed that the package I want to use wants a dgeMatrix (never heard about this before) looking like t

[2018-02-02 13:45] sjmgarnier commented on #6
@Cumol This goes beyond Rvision. I suggest you post your question on the R mailing list or Stackoverflow.

[2018-02-02 13:50] Cumol commented on #6
@sjmgarnier thank you for your help! If its useful I can post my final script as a use case once I am there :)

[2018-02-02 13:55] sjmgarnier commented on #6
@Cumol Might be more useful to post this where the users of the SCALPEL package can see it. I couldn't find a Github repo for it (except for the CRAN Github repo) but maybe you could get in touch with the package maintainer to get it posted on the package website (https://ajpete.com/software/).

[2018-02-02 13:57] Cumol commented on #6
@sjmgarnier I am in contact with Ashley. No Github repo but maybe she could integrate that into her vignette on her website

[2018-02-15 08:50] dickoa commented on #3
@kk-1 You can edit the `opencv.pc` file in `pkgconfig/lib` (since you changed `lib64` to `lib`) and in the `opencv.pc` replace `lib64` by `lib`, it should work. It's not a clean fix, I will see if there's a better way tweaking Makevars.

You should have something like this (tested on Arch Linux)

[code]

[2018-02-23 18:58] reidfalconer commented on #3
I also can't seem to install the package.

[code]
My Session info:
[code]

[2018-02-23 19:12] sjmgarnier commented on #3
@reidfalconer You're missing Cmake (see https://github.com/swarm-lab/ROpenCVLite#212---mac).

[2018-02-23 19:53] reidfalconer commented on #3
@sjmgarnier I completely glanced over that step. Apologies! I installed it (using Homebrew) and its up and running perfectly! 👍

[2018-03-27 15:15] Cumol commented on #6
@sjmgarnier

It seems like readMulti downscales the image to 6-bit, at least that is what happens when I load in a 16-bit dataset.

Could that be possible?

[2018-03-27 17:40] sjmgarnier commented on #6
@Cumol A flag wasn't set properly in cv::imreadmulti (the OpenCV function on top of which readMulti is built). It's fixed now.

Next time, could you please open a new issue for new problems like this one instead of continuing on a closed one? Thanks.

[2018-03-28 05:36] Cumol commented on #6
Will do. Thanks for the fix!

[2018-04-04 17:01] corsariovasco opened #8 "stream error: raspberry cam no work"
Hello,

I playing with python and opencv, in concrete with pipcamera,  but i see yours work and as I love R...i will test it...the installation into raspberry works me...R...libraries:
ROpenCVLite and Rvision...
`ROpenCVLite::opencvVersion()`
"### Version: 3.4.1"
It is fine.
In the case of my first test... an image capture:
`my_stream <- Rvision::stream(0)`
"### Error in new_CppObject_xp(fields$.m

[2018-04-04 19:37] sjmgarnier commented on #8
@corsariovasco I do not have the possibility to test the package on Raspberry Pi (I can only test it on Windows 10, Ubuntu-family Linux, and Mac OS X). Therefore I can't really help with this problem at the moment.

[2018-04-05 16:43] cictourgune commented on #8
@sjmgarnier :-( Thanks...
what is your technological stack (IDE: atom, vs, R studio?. Might you tell me how to debug? ... Maybe I could collaborate. I could install R studio into raspberry and execute your source. That's enough!, i do not know it.

[2018-04-05 16:59] corsariovasco commented on #8
@sjmgarnier  :-( Thanks...
what is your technological stack (IDE: atom, vs, R studio?. Might you tell me how to debug? ... Maybe I could collaborate. I could install R studio into raspberry and execute your source. That's enough!, i do not know it.

A question...
what is the origin the list of all supported APIs based on StreamClass?...the opencv has more but i do not found the definitions. Maybe

[2018-04-09 00:54] sjmgarnier commented on #8
@corsariovasco I develop using RStudio.

Supported APIs should be detected by cmake when compiling OpenCV. It's possible some option must be activated when compiling on Raspberry. I won't have the time to investigate this myself before a while. Let me know if you find anything.

[2018-04-27 01:03] amjiuzi opened #9 "sm idea for rvision"
1. read images find their outlines and reset them in same size ,
further, transform image info into matrix ( like MNIST dataset) for image recognization
2. read videos and recognize moving obj by stream

can our Rvision work no.1 out now ??

[2018-04-28 17:27] sjmgarnier commented on #9
@amjiuzi Thanks.

For 1, without an example of what you mean by "outline", I'm not certain I understand what you want to do exactly.
You can combine Rvision with TensorFlow for object recognition. See https://twitter.com/Md_Harris/status/962427019802955776 for an example.

For 2, you can already do basic object tracking. See https://twitter.com/Md_Harris/status/962074959895040001 for example.

[2018-06-15 19:01] hathawayj opened #10 "Image Stitching Capabilities"
I can see from the [opencv docs](https://docs.opencv.org/trunk/d8/d19/tutorial_stitcher.html) and this [python example](https://www.pyimagesearch.com/2016/01/11/opencv-panorama-stitching/) and [another]()https://kushalvyas.github.io/stitching.html) that there is a way to use opencv to stitch images.  The documentation is a little limited for Rvision.  We are still working on getting opencv install

[2018-06-15 19:06] sjmgarnier commented on #10
@hathawayj The cv::Stitcher API has not been implemented in Rvision yet. I'm not sure when/if I'll find the time to do it.

Same thing for the documentation. I'm working on it whenever I find the time, which hasn't been very often lately. However you should not need to install opencv yourself if you follow the installation instructions here: https://swarm-lab.github.io/Rvision/articles/install.htm

[2018-06-15 19:21] hathawayj commented on #10
I got opencv to install with your package.  Thanks! If you had to guess on implementation time required for the stitcher api where would you ballpark it?  What if I could find a student that could work on this as his senior project?

We are trying to find an R centric method to stitch drone images of areal photography of farms.

Thanks for the quick reply.

[2018-06-15 19:30] hathawayj commented on #10
I understand the time estimate problem.  Will get back to you.

[2018-09-21 16:50] sjmgarnier opened #11 "Travis CI test fails while sourcing callr on Mac"
Travis CI fails on Mac (but not Linux apparently) with the following error:

[code]

@muschellij2: any idea what's wrong here?

[2018-09-21 19:06] muschellij2 commented on #11
Ahh - line is no longer necessary - please remove it. I sent a simple PR.
John

On Fri, Sep 21, 2018 at 12:50 PM Simon Garnier <notifications@github.com>
wrote:

[2018-09-21 19:09] #11 closed

[2018-09-21 19:10] sjmgarnier commented on #11
@muschellij2 Thanks!

[2018-10-29 19:11] dschneiderch opened #13 "bayer demosaic?"
Could this provide access to the bayer demosiac function in the opencv library? I didn't see the function when I looked through the R package, and it was unclear if the bayer demosaic in the opencv library was even part of the RopencvLite install. I'm very new to opencv but am looking to integrate the demosaic process into my R pipeline if possible. I haven't seen any other options. Thanks!

[2018-10-30 06:37] sjmgarnier commented on #13
@dschneiderch This function is not accessible through the current version of Rvision, but it should be easy to implement. However, the function documentation on the OpenCV website (https://docs.opencv.org/3.4.3/d7/dbd/group__imgproc.html#gabd0f8509ef654d2b8e0a987635b8326d) is not clear on the values that some of the parameters (code and dcn) can take. Without more details, I don't think it is reas

[2018-11-02 20:04] dschneiderch commented on #13
ok, thanks for the response and adding it to your enhancement list!

[2018-12-18 10:40] sjmgarnier commented on #3
@vonStadarhraun It looks like you are missing the LAPACK library. I removed it from the compilation flags (not sure it is useful anyway), so it should work now.

[2018-12-18 10:43] sjmgarnier commented on #3
Closing this thread because it has become a general purpose forum about non-related installation problems. Please post separate issues in the future. Thanks.

[2018-12-18 10:43] #3 closed

[2019-01-08 23:59] andburch opened #14 "Plot small parts of large images = huge memory"
When I plot a large image object and set the xlim and ylim to small values--`c(1,3)`--the R session usually crashes or runs out of memory.

For example, if I have a normal 4000 x 3000px image, and I run this:

[code]
I'll get an error like below or the R session will be aborted.
[code]

I'm guessing this is because R plots a truly gigantic image (blowing up an already large object, without some ki

[2019-01-09 08:19] sjmgarnier commented on #14
@andburch I think the issue is that Rvision needs to convert the image into an R array before plotting it. This is most likely where the memory error occurs. I'll need to modify the plotting function to not convert the area outside the plotting limits anymore. In the meantime, you can use the new `subImage` function in Rvision to select only the part of the image you're interested in (careful thou

[2019-01-09 20:38] andburch commented on #14
In the most platonic sense of the phrase imaginable... @sjmgarnier is bae.

[2019-03-20 19:49] muschellij2 opened #15 "Any way to screen record"
Is it possible to do a screen recording versus a webcam recording?  I think it'd be an interesting addition, where `stream(index = 1)` for example, would allow people to record their screen.

I don't know the CV api well enough to see if this is possible/doable.

[2019-03-20 21:22] sjmgarnier commented on #15
@muschellij2 A quick Google Search didn't return anything obvious. I'll keep this open as a reminder to investigate from time to time, but I don't know when this will happen.

[2019-03-28 07:06] dselivanov opened #16 "Subsetting/indexing conventions"
Hi Simon.
Thanks for the wonderful package! (and ROpvenCVlite!)

This is not an issue, but rather small concern regarding certain conventions. At the moment `subImage` uses "bottom left" as a starting point for cropping image. However widely used standard is to use top left (as it is done in openCV and all python libraries).
I see it is wrapped here: https://github.com/swarm-lab/Rvision/blob/9323f

[2019-03-28 07:07] dselivanov opened #17 "Adding borders to the image"
Would be useful to wrap `copyMakeBorder` opencv function.  I will send PR for this.

[2019-03-28 11:26] sjmgarnier commented on #17
Please do. And let me know if you need help navigating my weirdly organized code. This is my first real Rcpp-based package and I'm still learning the ropes.

[2019-03-28 11:34] sjmgarnier commented on #16
Hi Dmitriy,

Thanks for your kind words. I was tired of switching back and forth between R for most of my work and Python for computer vision, so I took the jump and decided to build my own computer library vision for R.

I struggled with that point when I started working on Rvision. The main issue is that the graphics devices in R are all "bottom left" based and I was concern this would confuse u

[2019-04-17 22:36] muschellij2 opened #18 "Selfies broken with RStudio and OSX Mojave"
[code]
causes RStudio to crash in OSX Mojave due to permissions issues.  This should be fixed in future release https://github.com/rstudio/rstudio/pull/4581

[2019-04-17 22:55] sjmgarnier commented on #18
@muschellij2 Which version of RStudio? It works perfectly here with 1.2.1335.

[2019-04-17 22:55] muschellij2 commented on #18
Do you have OSX Mojave?
John

On Wed, Apr 17, 2019 at 6:55 PM Simon Garnier <notifications@github.com>
wrote:

[2019-04-17 22:56] sjmgarnier commented on #18
Yes.

[2019-04-17 22:59] muschellij2 commented on #18
I had 1.2.1502 and it would simply crash when trying.   I made some steps to fix in case it comes up https://github.com/muschellij2/recordscreen#errors-with-mac-osx-mojave-and-rstudio.  Now that it's in my approved camera apps, it's fine.  If I uncheck it, I get
[code]
which is to be expected as I've de-authorized the app.

[2019-04-17 23:00] muschellij2 commented on #18
What do you see in System Preferences → Security & Privacy?  Do you have RStudio in there as here?

<img width="640" alt="Screen Shot 2019-04-17 at 7 00 00 PM" src="https://user-images.githubusercontent.com/1075118/56326203-1c7a7000-6143-11e9-9db3-36173f06a1b2.png">

[2019-04-17 23:02] sjmgarnier commented on #18
Yes

[2019-04-17 23:03] muschellij2 commented on #18
Well as long as that's the case, it's fine.  For some reason, it wasn't popping up with a request for authorization and would crash as a result.

[2019-04-17 23:03] #18 closed

[2019-04-17 23:05] sjmgarnier commented on #18
I guess I'll add a not about this in the help and tutorials, just in case.

[2019-04-17 23:07] sjmgarnier commented on #18
@muschellij2 BTW, it looks like recordscreen is shaping up nicely.

[2019-04-18 12:43] jeroen commented on #18
See https://github.com/opencv/opencv/issues/14258

[2019-05-08 20:45] #13 closed

[2019-06-06 11:33] bsekiewicz opened #20 "this package has a non-empty 'configure.win' file"
Hi,` I have problem with Rvision installation on Win10.

[code]

My temporary solution is cleaning `configure.win`.

[2019-06-06 12:58] #20 closed

[2019-06-06 12:58] sjmgarnier commented on #20
@bsekiewicz It should work now.

[2019-06-14 12:31] klobenmann opened #21 "can not install Rvision on Ubuntu18"
Hi,
I just tried to install Rvision on Ubuntu18, but I get the following error, anyone an idea how to solve it? ROpenCVLite is installed (see frist lines):

[1] TRUE

Downloading GitHub repo swarm-lab/Rvision@master
✔  checking for file ‘/tmp/Rtmp53XylF/remotes127c3a5f9c96/swarm-lab-Rvision-f793cb3/DESCRIPTION’ ...
─  preparing ‘Rvision’:
✔  checking DESCRIPTION meta-information ...
─  cleaning sr

[2019-06-14 13:31] sjmgarnier commented on #21
@klobenmann I don't think you can install ROpenCVLite on R 3.4. I would suggest trying with 3.5, or better 3.6.

[2019-06-18 06:40] klobenmann commented on #21
I updated R to 3.6 now it works. Thank you very much.

[2019-06-18 06:40] #21 closed

[2019-06-26 08:13] tseehaus opened #22 "geoTiff image (float) input"
Hi,
my aim is to edit geoTiff image (images with a geographic coordinate system information) using Rvision.
The values are in float format. Is there an option to use "float" values in Rvision?
My idea for a work around would be to scale the values to the full range of the INT.
However, I can only use 8bit. 16 bit would allow me much more precision for the scaling and the subsequent rescaling to fl

[2019-07-25 17:46] wrathematics opened #23 "Problem reading frames"
First, thanks for the helpful package.

I would like to convert a video into a matrix where each column is a frame, where I treat each frame as a vector of values 0-255. As an example I'm using the file `centaur_1.mpg` here http://hubblesource.stsci.edu/sources/video/clips/ (direct link to video file http://hubblesource.stsci.edu/sources/video/clips/details/images/centaur_1.mpg)

I'd like to do so

[2019-07-25 18:50] sjmgarnier commented on #23
@wrathematics OpenCV has troubles positioning the read head or estimating the true number of frames (if you use readNext, you'll see that there is actually 420 frames, not 422) with some encoding formats. It looks like the encoding format of your video is one of these. Unfortunately, this is not something I can easily fix on my end. Your best option is to encode your video in a more OpenCV-friendl

[2019-07-27 17:05] maalid opened #24 "live streaming and take a snapshots"
Hi, I was wondering if there is a way to run live streaming and take a snapshot.

I mean, running:

my_stream <- stream(index = 0)
my_selfie <- readNext(my_stream)
plot(my_selfie)
release(my_stream)

only takes the snapshot. It would be amazing if I can have a live image and be able to take a snapshot.

Thanks in advance for your response!

[2019-07-27 17:07] sjmgarnier commented on #24
@maalid Do you mean live view? You can do this with the `display()` function and a `while` loop.

[2019-07-28 02:25] maalid commented on #24
@sjmgarnier Thanks for your reply!

Yes, live view.

I tried the `while` loop but I could not figure how to get the snapshot (on demand and not every `interval`) while the loop is running.

This is the code I used (I modified the `timelapse` function):

    launchWebCam <- function (obj,
                              displayName = "My display",
                              objeto = "Imagen",

[2019-07-28 06:23] sjmgarnier commented on #24
@maalid Re: Shiny. Check the `invalidateLater()` scheme. For instance, see line 127 here: https://github.com/swarm-lab/antCounteR/blob/master/inst/antCounteR/app.R.

I'm closing this because it is not related to a bug or a feature request, but feel free to keep commenting here if you have other questions related to your application.

[2019-07-28 06:23] #24 closed

[2019-07-30 05:10] maalid commented on #24
@sjmgarnier Thanks a lot! I will try your suggestion. It seems auspicious!

[2019-07-31 18:48] wrathematics commented on #23
Oh, interesting. I'll try it with some different test videos.

Thanks for the quick response!

[2019-07-31 18:48] #23 closed

[2019-08-03 18:29] muschellij2 opened #25 "Can't read image matrix"
Example where you cannot read the video.  It was rendered using ffmpeg.
[ari_test.mp4.zip](https://github.com/swarm-lab/Rvision/files/3464180/ari_test.mp4.zip)

[code]

<sup>Created on 2019-08-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2019-08-03 19:31] sjmgarnier commented on #25
@muschellij2 See #23.

[2019-08-04 17:48] #25 closed

[2019-08-04 18:24] muschellij2 commented on #25
Just FYI, `readNext` doesn't solve the problem.  I know it's an encoding problem

[code]

<sup>Created on 2019-08-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

# Works with `libavfoundation`

For a different `api` it works:

[code]

<sup>Created on 2019-08-04 by the [reprex package](https://reprex.tidyverse.

[2019-08-04 18:48] sjmgarnier commented on #25
@muschellij2 Oooohhh, that's really interesting! I wonder which is the default API then. FFMPEG? I should probably code a function to return the API info like there is for the videoWriter objects.

[2019-08-04 18:53] sjmgarnier commented on #23
@wrathematics Thanks to @muschellij2 in #25, it looks like the issue is caused by the default API chosen by OpenCV when reading your video. If you try:

```vid <- video("centaur_1.mpg", api = "AVFOUNDATION")```

then it works.

Note also that the first frame is at index 0, not 1.

[2019-11-29 21:25] markdane opened #27 "Installation problem"
Hi,

I'm hoping to use your Rvision and ROpenCVLite packages for several projects but cannot complete the Rvision installation. I completed the instructions for installing ROpenCVLite and that seemed to go okay. Is there any guidance you can provide?

thanks,
Mark

This is the error message and session info:

Downloading GitHub repo swarm-lab/Rvision@master
✔  checking for file ‘/private/var/folde

[2019-12-20 03:33] Atan1988 opened #28 "additional functions from opencv - Question"
Thank you for this great package as well as RopenCVLite.
I have been using opencv via reticulate, and it has the disadvantage of not able to utilize multi-processes due to reliance on embedded python. It is also simply great to have a R package to work with.
Do you have plans to implement other functions into Rvision?  For example, getStructuringElement, erode, dilate, boundingRect, contourArea, a

[2019-12-20 06:19] sjmgarnier commented on #28
@Atan1988 Thanks for your message. ROpenCVLite/Rvision is largely the work of two people only (@muschellij2 and myself) who both have busy schedules, so any additional help will be more than welcome.

To answer your questions:
1. All morphological operations (erode, dilate, etc.) are already available through the `morph` function. If you think it would be more convenient, it should be easy to crea

[2019-12-20 13:18] Atan1988 commented on #28
Thank you for your reply! I will test the morph function, and open feature requests for the other desired functions to be exposed.  At the meantime, I will also try to get more familiar with Rcpp so I can better follow how you have exposed the OpenCV functions.

[2019-12-20 13:18] #28 closed

[2020-05-03 19:06] mingchangtsai opened #30 "(MacOS 10.15.4) installation error - memory not mapped"
Hi,

I'm having trouble with the last step of Rvision installation, ** testing if installed package can be loaded

I am running into this error
[code]

This is my R version
[code]
and lastly I set the ~/.Renviron to R_MAX_VSIZE=100Gb because if I didn't, then I get this error
[code]

any help would be greatly appreciated.

[2020-05-03 21:25] sjmgarnier commented on #30
@mingchangtsai Did you install the CRAN or the Github version of ROpenCVLite?

[2020-05-03 21:46] mingchangtsai commented on #30
I installed the CRAN version (from RStudio)

[2020-05-04 01:09] sjmgarnier commented on #30
And which command did you use to install Rvision?

[2020-05-04 02:15] mingchangtsai commented on #30
Sorry, I installed from github
devtools::install_github("swarm-lab/Rvision")

[2020-05-04 02:17] mingchangtsai commented on #30
I followed instructions from here
https://swarm-lab.github.io/Rvision/articles/z1_install.html

[2020-05-04 02:56] sjmgarnier commented on #30
@sjmgarnier What are your versions of Rcpp, RcppArmadillo, devtools, and Cmake?

[2020-05-04 04:34] mingchangtsai commented on #30
RcppArmadillo_0.9.870.2.0
Rcpp_1.0.4.6
devtools_2.3.0
Cmake 3.17.1

[2020-05-04 12:07] sjmgarnier commented on #30
@mingchangtsai I can't reproduce this error. What else is in your ~/.R/Makevars and ~/.Renviron?

Also, can you try devtools::install_github("swarm-lab/Rvision", build_vignettes = FALSE)?

[2020-05-04 16:53] mingchangtsai commented on #30
~/.Renviron
R_MAX_VSIZE=200Gb

~/.R/Makevars
CC=clang
CXX=clang++
PKG_CFLAGS=-g -O2
PKG_CXXFLAGS=-g -O2 -stdlib=libc++

I tried installing with your suggestion, same errors.

thanks

[2020-05-04 16:59] sjmgarnier commented on #30
@mingchangtsai My guess is that `-stdlib=libc++` in your Makevars is conflicting with `CXX_STD = CXX11` in the Rvision Makevars. If that's the case, you might also need to reinstall/recompile ROpenCVLite, Rcpp, and RcppArmadillo.

[2020-05-04 17:36] mingchangtsai commented on #30
reinstalled all the packages as suggested and Rvision installed without error.

thank you!

[2020-05-04 17:36] #30 closed

[2020-05-04 17:41] sjmgarnier commented on #30
@mingchangtsai Great. It's always problematic when packages are compiled using different standards.

[2020-05-05 22:53] mingchangtsai opened #31 "overlay plot on image/video"
Hi,

I'd like to overlay a data plot onto a video, what is the easiest and/or efficient way to do that?

Here is my code, doesn't look efficient, especially saving it to a file and reading it as an image before writing it to the video
[code]

thanks in advance for any suggestions.

[2020-05-05 23:18] sjmgarnier commented on #31
@mingchangtsai This is not really a Rvision issue, so I'll close this now. But to answer your question, look into magick::image_graph and magick::image_data to transform your graph into an array that can then be fed into Rvision::image. Not tested and not sure it'll be faster than your current solution.

[2020-05-05 23:18] #31 closed

[2020-06-07 01:28] mdhawk opened #32 "Need R Shiny integration with RVision package"
I don't find a single reference online if RVision can be integrated with R Shiny. If it is currently not supported then can we at least get this functionality in the near future.

Thanks

[2020-06-07 02:45] sjmgarnier commented on #32
@mdhawk It depends what you mean by "integrated". For instance, [trackR](https://github.com/swarm-lab/trackR) uses Shiny and Rvision for doing video tracking of animals. But if you're hoping to have live view integrated inside a Shiny app, that won't be possible before some time due to the absence of easy interface between OpenCV and a web browser.

[2020-06-07 15:13] mdhawk commented on #32
@sjmgarnier Yes I was hoping there is some function or online reference that could directly integrate live view inside a Shiny app. If it were possible would have been really great. Anyways thanks for the quick and clear response.

[2020-06-07 16:37] sjmgarnier commented on #32
@mdhawk It's just too complicated for me at the moment. It requires setting up some form of streaming server in the background in order to push the video to the web browser.

[2020-11-26 15:12] matiasandina opened #34 "selectROI error OpenCV 4.1"
I have tried to use `selectROI()` but encountered problems with the example:

[code]
I have been able to replicate this error on two machines running OpenCV > 4.1 (one Ubuntu, one Windows).

[2020-11-26 15:23] #34 closed

[2020-11-26 15:25] sjmgarnier commented on #34
@matiasandina Just a stupid missing rounding. It should work now.

[2021-01-04 13:17] apford07 commented on #27
You don't say what platform you are on (Mac ?)
on non ubuntu linux including  Centos, Fedora, RedHat
its is necessary to add a  link between installing opencv and Rvision

[2021-01-04 13:28] apford07 opened #35 "Failure to open video"
I successfully used an earlier version of  Rvision on Centos7  but I get an error on opening a video on Centos8 and Fedora33
Rvision version 0.4.1
opencv version  4.5.0
Other programs eg ffmpeg, openshot, firefox all  process video OK
[code]
Can I enable more verbose messages to understand the problem ?
What other  information is needed ?

[2021-01-10 04:53] GxHam opened #36 "Flipping of images"
Thank you so much for this great package. It handles my large tiff images with the highest efficiency out of all other R packages I tested.

I'd like to know if there is a function I can use to flip an image horizontally or vertically? I have been using the rotation code with great success, but am unsure how I can go about flipping an image.

[2021-01-11 20:26] sjmgarnier commented on #36
@GxHam There is none at the moment but I'll add this as soon as I'm done with another project.

[2021-01-26 16:14] Eli-S-Bridge commented on #35
I had the same or a similar issue.

`cat /etc/redhat-release  
CentOS Linux release 7.8.2003 (Core)`

`[ebridge@schooner2` jtest]$ R

R version 4.0.2 (2020-06-22) -- "Taking Off Again"
Copyright (C) 2020 The R Foundation for Statistical Computing
Platform: x86_64-pc-linux-gnu (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain condit

[2021-01-27 21:05] Eli-S-Bridge commented on #35
Now I'm getting same error on windows 10 when trying to use VideoWriter(). Same code works on a mac. Any insights would be useful.

[2021-01-27 21:43] sjmgarnier commented on #35
@apford07 Sorry, I don't use CentOS so I won't be able to debug this.

[2021-01-27 21:43] sjmgarnier commented on #35
@Eli-S-Bridge Please open a separate issue for the problem with Windows, with reproducible code if possible.

[2021-01-28 04:51] Eli-S-Bridge opened #37 "videoWriter error on windows 10"
Ported over from issue #35.

videoWriter throws an error on Windows 10.

Some specs:
Device name	DESKTOP-LSMOPJM
Processor	Intel(R) Core(TM) i5-8600K CPU @ 3.60GHz   3.60 GHz
Installed RAM	32.0 GB
System type	64-bit operating system, x64-based processor

Windows 10 Education Version 20H2
OS build 19042.746
Windows Feature Experience Pack 120.2212.551.0

R version 4.0.3 (2020-10-10)
Platform: x86_6

[2021-01-28 07:51] sjmgarnier commented on #37
@Eli-S-Bridge What versions of Rvision and ROpenCVLite are you using?

[2021-01-28 08:09] sjmgarnier commented on #37
@Eli-S-Bridge My best guess is that either the "avc1" codec is not supported on your computer (i.e. it wasn't present when ROpenCVLite compiled OpenCV) or that "Test_outVid.mp4" is already present at the location where you're trying to write (i.e. the file was created during a previous attempt and was not removed before the next attempt). I'm betting on the second option because OpenCV would have

[2021-01-29 16:51] Eli-S-Bridge commented on #37
Thanks for looking into this. I made sure that the the output file did not exist--That was not the issue. I was able to get videoWriter to work when the codec was set to MP4V. So that lets me move forward. I tried installing the AVC1 codec and then reinstalling Rvision. The avc1 codec still did not work. However, I have not tried recompiling OpenCV since the codec installation. I'll give that a sh

[2021-01-29 19:07] sjmgarnier commented on #37
@Eli-S-Bridge Codecs are linked during OpenCV's compilation. You'll need to rerun `ROpenCVLite::installOpenCV()` and select `yes` when asked.

[2021-02-03 12:19] apford07 commented on #35
Could you give some suggestions on how I could debug it.

[2021-02-03 12:26] sjmgarnier commented on #35
@sjmgarnier A first step would be to recompile OpenCV with `ROpenCVLite::installOpenCV()`. Prior to doing that, make sure that you have installed all the codec dev packages that are necessary to read that video.

[2021-02-05 18:13] #36 closed

[2021-02-05 18:14] sjmgarnier commented on #36
@GxHam It should work with the latest dev version of the package.

[2021-02-06 08:01] sjmgarnier commented on #22
@tseehaus Floats should be supported now.

[2021-03-02 09:14] mjarcem opened #38 "Installation Problem"
Hello everybody,

I have installed many times OpenCv on particular computer but I have problems installing it on my work computer. I need to install it in order to install R-vision package.

I'm working with R 3.6.3, Rtools35 and Cmake 2.15 (I've tried different Cmake versions but I got the same error). I partitioned my temporary files to a path without any blank spaces and accents, and installed

[2021-03-02 09:37] sjmgarnier commented on #38
@mjarcem Please try to use the provided templates for your next issue. It makes it much easier for me to try and reproduce the problem if possible. Also, this is a problem with ROpenCVLite, not Rvision, so please try to no cross-post the same error on both repository, this will make my life much easier :-) Thanks.

I will look into this issue as soon as possible but in the meantime:

+ Can you try

[2021-03-02 11:54] sjmgarnier commented on #38
@mjarcem I can reproduce the error with R 3.6.3. It seems to be an issue with the compilation of OpenCV Graph API. I can also confirm that it compiles without problem with R 4.0 and up and Rtools40. If you want to stick with R 3.6.3, then I have fixed the installer in the latest version of the package in its Github repository. You can install it with:

`remotes::install_github("swarm-lab/ROpenCVLi

[2021-03-02 11:54] #38 closed

[2021-03-02 13:05] mjarcem commented on #38
@sjmgarnier Thank you for your answers !

When using Rtools40, R.4.0.4 and CMake 3.19.6 I don't get any errors but when running isOpenCVInstalled() I get FALSE. In the output I could find this kind of warnings (I think they are about graph API ):
C:/Users/GMFQA/AppData/Local/Temp/Rtmp8mBFFJ/opencv-4.5.0/modules/gapi/include/opencv2/gapi/own/saturate.hpp:71: warning: ignoring #pragma warning  [-Wun

[2021-03-02 14:04] sjmgarnier commented on #38
@mjarcem You can ignore these warnings.

Re: isOpenCVInstalled returning FALSE, are you certain that the compilation finished?

[2021-03-02 14:10] mjarcem commented on #38
This are the last lines I get:

`
[ 99%] Built target opencv_version
make[2]: Entering directory '/c/Users/GMFQA/AppData/Local/Temp/Rtmp8mBFFJ/opencv-4.5.0/build32'
make[2]: Leaving directory '/c/Users/GMFQA/AppData/Local/Temp/Rtmp8mBFFJ/opencv-4.5.0/build32'
[100%] Built target opencv_version_win32
make[1]: Leaving directory '/c/Users/GMFQA/AppData/Local/Temp/Rtmp8mBFFJ/opencv-4.5.0/build32'
Inst

[2021-03-02 14:17] sjmgarnier commented on #38
@mjarcem Weird. It should indeed show as installed then. Not sure what's up here, I can't reproduce this here.

[2021-03-02 15:29] mjarcem commented on #38
Your proposition worked for the R.3.6.3 version, thank you !

[2021-03-02 15:38] sjmgarnier commented on #38
@mjarcem Great to hear!

[2021-03-02 21:59] matiasandina opened #39 "Histogram Equalization using Rvision"
This might be possible with the current status of the package, but I was trying to find a way to do histogram equalization.
This is implemented in python opencv ([see link](https://docs.opencv.org/master/d5/daf/tutorial_py_histogram_equalization.html))

So something like?

[code]

[2021-03-03 06:57] sjmgarnier commented on #39
@matiasandina I'm currently making big changes in the background of Rvision that I'm hoping to push this weekend. I can easily include `equalizeHist` (the name of the OpenCV C++ function) in that push. In the meantime, you can put your own histogram equalization function together using the imhist and LUT functions provided by Rvision.

[2021-03-10 23:52] apford07 commented on #35
It appears to have been fixed in
Rvision     * 0.5.0   2021-03-10 [2] Github (swarm-lab/Rvision@6be14b3)
(it was also OK in 0.4.0)  problem seems to be only in 0.4.1

[2021-03-11 06:49] sjmgarnier commented on #35
@apford07 I don't think that I have touched that part of the code since 0.4. I made a ton of changes to get to 0.5, maybe one of them fixed the bug you encountered.

[2021-03-28 22:42] Eli-S-Bridge opened #40 "Rvision stoped loading"
Hi. I have been using Rvison for a while now, but it recently quit working (see errors below). I updated cmake and installed the latest openCV with ROpenCVLite. Got the same errors.

For what it's worth, there is a file called Rvision.so in:
/Library/Frameworks/R.framework/Versions/4.0/Resources/library/opencv/lib/libopencv_calib3d.4.3.dylib
  Referenced from: /Library/Frameworks/R.framework/Versi

[2021-03-29 00:10] Eli-S-Bridge commented on #40
Manually deleted the Rvision library folder and reinstalled. Working now. Sorry for the trouble.

[2021-03-29 06:35] sjmgarnier commented on #40
@Eli-S-Bridge Yes, this is normal. Every time a new version of OpenCV is compiled and installed, Rvision needs to be recompiled as well to be linked to it. I need to figure out a way to automatically detect this and throw a message to users when they need to reinstall Rvision. It's not on the top of my priority list at the moment (I'm currently focused on GPU support and video buffering), so I'll

[2021-04-06 05:34] sjmgarnier commented on #39
Closed with 0.6.0 release.

[2021-04-06 05:34] #39 closed

[2021-04-14 15:23] matiasandina opened #43 "Loss of quality with resize"
My main reason to use Rvision is because it's super fast compared with other R packages that deal with images (e.g., `imager`).
I am reading large tiffs from confocal images of mice brains, for which Rvision performs great, but I am struggling with data loss on display.

[code]
Here side by side with windows native application.

![image](https://user-images.githubusercontent.com/7494967/114734384-

[2021-04-14 15:54] sjmgarnier commented on #43
@matiasandina This is normal. `resize` changes the size of the image by changing the number of pixels. So with `fx=0.05` and `fy=0.05`, you only keep 5% of the pixels in each dimension (e.g. if your image was 1000x1000 pixels, you would be left with an image of only 50x50 pixels).

If your goal is to resize the display while maintaining the original image quality, you need to play with the `height

[2021-04-14 16:26] matiasandina commented on #43
My original image is `6560x8400`, this is the kind of resolution I get at `img$ncol()/2` and `img$nrow()/2`. It's great resolution but obviously I cannot fit it on the screen.
Again, I'm curious as how the resizing can be done in such a way to produce a nice looking image but smaller (as `imager` and the native app get)

![image](https://user-images.githubusercontent.com/7494967/114744900-2a583100

[2021-04-14 16:44] sjmgarnier commented on #43
@matiasandina With `img$ncol()/2` and `img$nrow()/2`, you are still displaying 3280x4200 pixels. If your screen has a lower resolution than that, it just won't fit. You need to set `height and `width` so that they are not bigger than your screen's resolution. For instance, if your monitor has a resolution of 1920x1080, you could do:

[code]

Note that this assumes no space is taken by

[2021-04-14 17:26] matiasandina commented on #43
I believe this issue might not be because of the particular display settings.
For example, even when using resize

[code]

Display of `trial.png` on windows native app is flawless, basically achieves the shrinking without quality loss I am aiming for.
Display of `trial.png` using `Rvision::display()` has the same issues as the `resize + display` method or `display` method you suggest.

[2021-04-14 17:36] sjmgarnier commented on #43
@matiasandina What's the output of `print(img)`?

[2021-04-14 17:37] sjmgarnier commented on #43
@matiasandina And can you share that image with me? It might help me understand what the issue is.

[2021-04-14 18:14] matiasandina commented on #43
[code]
Original image is 52 MB
I think what I am saying is reproducible with the balloon example.

[code]

This is the imager result

![image](https://user-images.githubusercontent.com/7494967/114758216-b7a28200-9d2a-11eb-992a-1c8b42ad6d8d.png)

This is the side by side. I don't know how `imager` is handling the interpolation such that the shapes are much better conserved. It's possible that the s

[2021-04-14 18:20] sjmgarnier commented on #43
@matiasandina I see. The default value of the `interpolation` parameter in `resize` is "linear". Try `area` instead. It tends to work better for heavy downsizing.

[2021-04-14 18:29] matiasandina commented on #43
Yes, That was it!
Thank you so much I tried several `interpolation` methods but not "area". Results are just as expected now!
![image](https://user-images.githubusercontent.com/7494967/114760768-af981180-9d2d-11eb-8233-c92432eaf982.png)

[2021-04-14 18:29] #43 closed

[2021-04-14 18:34] sjmgarnier commented on #43
@matiasandina Great to hear! I've also just added an option in `display` to choose a different interpolation. Not critical but that may be useful in the future.

[2022-02-16 22:20] rodo2268 opened #45 "problem with installation"
Hi! I noticed Rvision was not working so I eliminated it and trief to reinstall it. However, at the end of the installation I get this:

ERROR: compilation failed for package 'Rvision'
* removing 'C:/Users/erodofili/Documents/R/win-library/4.1/Rvision'
Warning message:
In i.p(...) :
  installation of package ‘C:/Users/ERODOF~1/AppData/Local/Temp/Rtmpmad8nD/file33e874a1407b/Rvision_0.6.0.tar.gz’ ha

[2022-02-16 22:33] sjmgarnier commented on #45
@rodo2268 I suggest the following:

- Update ROpenCVLite to its latest version (4.52.0)
- After the update, recompile OpenCV with `ROpenCVLite::installOpenCV()`
- Install the latest version of Rvision (0.6.0) with `remotes::install_github("swarm-lab/Rvision")`

If the problem persists, post here the full output of the installation process.

[2022-02-16 22:55] rodo2268 commented on #45
Actually, that led to the following error in the ROpenCVLite installation when I tried to reinstall

Error: package or namespace load failed for ‘ROpenCVLite’:
 .onAttach failed in attachNamespace() for 'ROpenCVLite', details:
  call: system(command, as.integer(flag), f, stdout, stderr, timeout)
  error: character string expected as first argument

[2022-02-16 23:04] sjmgarnier commented on #45
@rodo2268 Ok, thanks. Someone else reported that error here: https://github.com/swarm-lab/ROpenCVLite/issues/24. I will investigate the problem as soon as I can (and as soon as I can put my hands on a Windows machine).

[2022-02-17 02:17] sjmgarnier commented on #45
@rodo2268 This last error should be fixed by 802f804d19b9e181b157a730d1abed2ebe4f3909. It was an error caused by a new behavior in `pkgbuild`. I will push the change in `ROpenCVLite` to CRAN asap, but you can install the update from Github now.

[2022-02-17 04:48] rodo2268 commented on #45
@sjmgarnier thanks for all your help. It works now

[2022-02-17 11:54] #45 closed

[2022-06-10 09:27] #37 closed

[2022-06-10 09:28] #35 closed

[2022-06-10 09:28] #27 closed

[2022-06-10 09:29] #22 closed

[2022-06-10 09:29] #16 closed

[2022-06-10 09:30] #9 closed

[2022-06-10 09:30] #8 closed

[2022-07-22 08:29] mirickmi opened #58 "Rvision installation: non-zero exit status"
**Describe the bug**
The installation of Rvision 0.6.2 is not working. The following error message  (translated to english) shows up:

Error: [...] cannot load shared object 'C:/Users/XXX/Documents/R/win-library/4.1/Rvision/libs/i386/Rvision.dll':
  LoadLibrary failure:  The module was not found.

Error: [...] cannot load shared object 'C:/Users/XXX/Documents/R/win-library/4.1/Rvision/libs/x64/Rvi

[2022-07-22 08:35] sjmgarnier commented on #58
@mirickmi Can you post the entire installation message after you run `remotes::install_github("swarm-lab/Rvision")`? I want to see if something goes wrong before. Thanks.

[2022-07-22 08:37] sjmgarnier commented on #58
@mirickmi Also, can you confirm that OpenCV was compiled and installed properly by running `ROpenCVLite::OpenCVPath()`? Thanks.

[2022-07-22 09:13] mirickmi commented on #58
@sjmgarnier Thanks for the quick reply!

`ROpenCVLite::OpenCVPath()` returns **"C:\\Users\\XXX\\Documents\\R\\win-library\\4.1\\ROpenCV"**

The entire installation message:

[code]

[2022-07-22 09:21] sjmgarnier commented on #58
@mirickmi Strange. The compilation part seems to go through without problem. I will need to investigate this further. That might take me a few days (I don't have access to a Windows machine at the moment). If this is urgent, you can try installing the latest version of R (4.2.1 I believe) and the corresponding version of Rtools (4.2), and then reinstall ROpenCVLite and Rvision there. That was work

[2022-07-22 09:23] mirickmi commented on #58
@sjmgarnier Thank you. No worries, I'm not in a hurry. I will install the latest version of R and report back then.

[2022-07-22 10:18] mirickmi commented on #58
@sjmgarnier Upgrading to R version 4.2.1, then reinstalling Rtools version 4.2 and ROpenCVLite version 4.60.2 did indeed fix the problem. I could finally install Rvision 0.6.2 . Thank you!

[2022-07-24 22:53] sjmgarnier commented on #58
I'm keeping this open to remind me to look into a fix for it.

[2022-08-02 01:16] aharmer commented on #58
Hi, I'm having exactly the same issue as above. I will try the fix suggested but I need to use R v.4.1.3 for several other packages I may have issues. Cheers.

[2022-08-03 11:38] sjmgarnier commented on #58
@aharmer See my reply at https://github.com/swarm-lab/ROpenCVLite/issues/28

[2022-08-07 20:06] aharmer opened #59 "Rvision installation error"
I am getting a new error when installing Rvision. Any thoughts?

[code]

[2022-08-08 15:21] sjmgarnier commented on #59
@aharmer Can you try installing the latest version in the develop branch?

[code]

If that works, I'll push the changes to the main branch for everyone to enjoy :-)

[2022-08-08 19:32] aharmer commented on #59
Sorry, still getting the same error. But I think this time only for arch - i386.

[code]

[2022-08-09 09:30] sjmgarnier commented on #59
@aharmer Try again. It should work now.

[2022-08-09 09:42] sjmgarnier commented on #58
This should be fixed by #60

[2022-08-09 09:42] #58 closed

[2022-08-09 09:42] sjmgarnier commented on #59
#60 fixes this.

[2022-08-09 09:42] #59 closed

[2022-08-09 09:44] sjmgarnier commented on #17
The `border` function does that now.

[2022-08-09 09:44] #17 closed

[2022-08-09 22:16] aharmer commented on #59
Awesome, thank you. All working now.

On Tue, 9 Aug 2022 at 21:42, Simon Garnier ***@***.***> wrote:

--

______________________________________________
Aaron Harmer
*ento.org.nz <http://https//ento.org.nz>*
*taranuiphotography.com <http://taranuiphotography.com/>*
github.com/aharmer/

[2022-09-05 16:55] CorradoLanera opened #61 "Lists camera indexes"
If I try to start a stream with an index unrelated to a camera, the whole R session crashes.

Is it possible to have a function that lists all possible available indexes?

E.g.:

[code]

Or, how can I check if an index will not crash my session; e.g.

[code]

Thank you!
Corrado.

[2022-09-05 17:22] sjmgarnier commented on #61
@CorradoLanera The answer is no, it's not possible to have a function that does this consistently across OS and APIs. OpenCV itself - which Rvision is based on - doesn't even provide a function to do that. There are workarounds to guess the number of available cameras but they are system and API specific, so I will not implement them and I'll let the users design their own function if they really

[2022-09-06 06:29] CorradoLanera commented on #61
Thank you, @sjmgarnier; that was exactly my approach.
The issue is that I have nothing to "catch" because the whole session crashed.
So, I start supposing there is a different issue, i.e., mainly mine. I tried an extreme minimal example :-) obtaining the same result:

![immagine](https://user-images.githubusercontent.com/6473683/188561547-9db102a5-ccfc-4b0e-91cc-d1c07645c6a7.png)

As you can see,

[2022-09-06 07:55] CorradoLanera commented on #61
Updated `OpenCV` and `Rvision`: nothing changed.

![immagine](https://user-images.githubusercontent.com/6473683/188578319-88fb22e4-11c7-4386-bfd6-19a0442c7dc3.png)

Do you have any suggestions to try to debug/understand that? :-)

[2022-09-06 10:45] sjmgarnier commented on #61
@CorradoLanera Ok, yes, this is a different problem than what I was thinking about. I'll see if I can reproduce this. Can you tell me what your full config is? Thanks.

[2022-10-31 23:36] nikosGeography opened #66 "Downsample an image using Gaussian filter"
Correct me if I am wrong, but the function `gaussianBlur` returns a blurred image with the same pixel size as the input. It would be nice to develop an algorithm that downsamples an image (i.e., makes the pixel size bigger) using the `gaussianBlur`.

So, in theory, for each coarse pixel all is needed is to go to its center and calculate the weights (Gaussian filter) needed for each fine pixel surr

[2022-10-31 23:44] sjmgarnier commented on #66
@nikosGeography Are you talking about Gaussian pyramids?

[2022-11-01 00:21] nikosGeography commented on #66
@sjmgarnier in theory I am talking about the point spread function (PSF) and how it affects the images. Gaussian pyramids are reducing the pixel size by an integer factor, as far as I know.

[2022-11-01 00:39] sjmgarnier commented on #66
@nikosGeography I guess I don't understand what you mean by pixel size in this case. A Gaussian pyramid is simply applying a Gaussian filter to an image and then removing all even rows and columns of the image (effectively downsampling it by a factor of 2 at each cycle of the pyramid).

Are you suggesting instead that the intensity at any arbitrary point with continuous coordinates is the sum of t

[2022-11-01 00:41] sjmgarnier commented on #66
@nikosGeography Maybe a more straightforward way would be for you to point me toward the desired algorithm in a different language. I can then see how easily I can implement it in Rvision.

[2022-11-01 00:59] nikosGeography commented on #66
Sure. [This](https://dsp.stackexchange.com/questions/44159/image-zoom-out-using-gaussian-blur-and-downsampling) is something similar to what I am suggesting. It is written in `Matlab`.

If you want the exact method then you should have a look at [this ](https://github.com/qunmingwang/Code-for-S2-fusion/blob/master/PSF_template.m) code. In this code they perform several (irrelevant to what I am sug

[2022-11-01 01:18] sjmgarnier commented on #66
@nikosGeography The first code looks very much like a Gaussian pyramid, no? Blur followed by removal of even rows and columns. Or am I completely missing something? (it's late, I probably am)

[2022-11-01 01:23] sjmgarnier commented on #66
@nikosGeography Sure. Just to make sure, this (below) is NOT what you're looking for, right?

[code]

[2022-11-01 01:52] sjmgarnier commented on #66
@nikosGeography Send me an email tomorrow. In the Matlab code that you sent me (if I understand it correctly), the Gaussian filtering and the downsampling are two separate steps. The only thing that they have in common is that sigma depends on the zoom factor. In other words, the Gaussian filter does not downsample the image. It is a preparatory step to eliminate high-frequency information in the

[2022-11-01 01:57] nikosGeography commented on #66
Probably you are right. I am not familiar with `Matlab `code but one thing I do know is that the downsampling and the Gaussian filter should be the same step. On the other hand, the second code that I sent you (the one with the regression etc) for sure is the right one because it's the one I am trying to replicate (although way more complex to copy it).

Thank you so far for you help.

[2022-11-01 02:00] sjmgarnier commented on #66
@nikosGeography As far as I can tell, the second code only creates a kernel of some sort. It's very short and doesn't contain the other irrelevant steps that you mention. Are you sure that you posted the right link?

[2022-11-01 02:04] nikosGeography commented on #66
Yes I am sure. the code I posted contained only part of the process. [Here ](https://github.com/qunmingwang/Code-for-S2-fusion) is the whole process (regression, kriging etc). This might be a bit too complicated, but I know which .m files are irrelevant (or I know most of them).

[2022-11-01 11:16] nikosGeography commented on #66
@sjmgarnier would it be possible to send me your e-mail because I can't find it? Many thanks.

[2022-11-01 13:12] sjmgarnier commented on #66
@nikosGeography It's garnier@njit.edu.

[2022-11-06 23:03] #66 closed